{% extends 'core_base.html' %}

<div class="jumbotron">
    <h1>School detail page</h1>

    {% block content %}

        <p>Name: {{ school_detail.name }}</p>
        <p>Principal: {{ school_detail.principal }}</p>
        <p>Location: {{ school_detail.location }}</p>

        <h3>Students in this school:</h3>

        {% for student in school_detail.students.all %}
            <p>{{ student.name }}, {{ student.age }} years old;</p>

        {% endfor %}

    <div class="container">
        <p><a class="btn btn-warning" href=" {% url 'local_core:update_school' school_detail.pk %}">Edit</a></p>
    </div>

    {% endblock %}

</div>