{% extends 'core/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h2>Login please</h2>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <label for="username">Username:
                <input type="text" name="username" placeholder="Enter your username"/>
            </label>
            <label for="password">
                <input type="password" name="password">
            </label>

            <input type="submit" name="" value="Login">

        </form>
    </div>

{% endblock %}