{% extends 'core/base.html' %}
{% load static %}


{% block content %}

    <div class="jumbotron">
        <h1>Registration page</h1>
    </div>
    <div class="jumbotron">

        {% if registered %}
            <h3>Thanks for registering.</h3>

        {% else %}
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}

                {{ user_form.as_p }}
                {{ profile_form.as_p }}

                <input type="submit" name="" value="Register" class="btn btn-default">
            </form>
        {% endif %}
    </div>
{% endblock %}